@import url('https://img.freepik.com/free-vector/flat-design-forest-landscape_23-2149155031.jpg?w=826&t=st=1705498197~exp=1705498797~hmac=0dd5e222bd1afacf8e8b6c318c3d9a088649bf6bcf7866918f786818efc444dc');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'poppins',sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('image/bck.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}

header{
    position: fixed;
    top: 0;
    left: 20;
    width: 98%;
    padding: 20px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navi a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}
.navi a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #e7e3fa; 
    border-radius: 5px;
    transform-origin:right; 
    transform: scaleX(0);
    transition:transform .5s;
}
.navi a:hover::after{
   transform-origin: left;
   transform: scaleX(1); 
}
.navi .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #f0e5e5;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    color: white;

}
.navi .btnLogin-popup:hover{
    background: white;
    color:#162938;
}

.wrap{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(248, 243, 243, 0.953);
    border-radius:  20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(248, 246, 246, 0.933);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, .2s ease; 
} 
.wrap.active-popup{
    transform: scale(1);
}
.wrap.active {
    height: 520px;
}
.wrap .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #141212;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 17px;
    cursor: pointer;
    z-index: 1;
}
.wrap .fm-box{
    width: 100%;
    padding: 40px;
}
.wrap .fm-box.login {
  transition: transform .18s ease;
  transform:translateX(0) ;

}
.wrap.active .fm-box.login {
    transition: none;
    transform: translateX(-400px) ;
}
.wrap .fm-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);

}
.wrap.active .fm-box.register {
    transition: transform .18s ease;
    transform:translateX(0) ;
  
  }

.fm-box h2{
    font-size: 2em;
    color: #dcecf8;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #dcecf8;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-9%);
    font-size: 1em;
    color:#dcecf8;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
  
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #dcecf8;
    line-height:57px;
}
.remeber-forgot{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}
.remeber-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}
.remeber-forgot a {
    color: #fff;
    text-decoration:none ;
}
.remeber-forgot a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #0e0e0f;
    font-weight: 500;

}
.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}
.login-register p a {
    color: #3577f1;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration:underline ;
}